 
body{
    background-color: beige;
}

.hellotxt, .container, #mylist{
    text-align: center;
    font-family: Arial, sans-serif; 
    background-color: beige;
    width: 33%;
    border-radius: 25px;
    margin: auto;
    padding: 2px;
    font-size: 15px;
}

.container{
    background-color: whitesmoke;
    width: fit-content;
    padding: 10px;
}

.clear { clear: both;}
h2{
    padding-top: 10px;
}

#mylist{
    width: fit-content;
    text-align: center;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 25px;
}

.button{
    display: inline-block;
    color: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;
}

.delbutton{
    background-color: green;
}

.tasks{
    text-align: left;
}