 
body{
    background-color: beige;
}

.hellotxt, .button, .container, .tasks, .delbutton, #timebutton, #mylist, #input, #button, #clock{
    font-family:Courier New;
    font-size: 22px;

}

.hellotxt, .container, #mylist{
    text-align: center;
    background-color: beige;
    width: 33%;
    border-radius: 25px;
    margin: auto;
    padding: 2px;
}

#instruction, h1 {
    text-shadow: 1.5px 1.5px 3px #000000;

}



.container{
    width: fit-content;    
}

#instruction{
    display: block;
    border-radius: px;
    border-color: red;
    text-decoration: underline;

}


#input, #button, #timebutton{
    /* font-size: 35px; */
    border-radius: 25px;
    border-color: red;
    background-color:pink;
    outline: none;
}

.clear { clear: both;}
h2{
    padding-top: 10px;
}

#mylist{
    width: fit-content;
    text-align: center;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    /* font-size: 25px; */
    
    
}

.button{
    display: inline-block;
    color: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
    cursor: pointer;
}

#timebutton{
    font-size: 15px;


}

#button:hover, #timebutton:hover{
    background-color: palevioletred;
    cursor: pointer;
}


.tasks{
    padding:10px;
    margin: 10px;
    /* font-size: 35px; */
    border-radius: 25px;
    background-color:pink;
    outline: none;
    
}

.delbutton{
    padding: 10px;
    background-color:pink;
    border: none;
    /* font-size: 20px; */
    color: red;
    outline: none;
}

.delbutton:hover{
    color: red;
    font-weight: bold;

}


#clock{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* font-size: 50px; */
    position: relative;
    color: rgb(44, 44, 44);
    letter-spacing: 2px;
    text-shadow: 1.5px 1.5px 3px #000000;
}
