 
body{
    background-color: beige;
}

.hellotxt, .container, #mylist{
    text-align: center;
    font-family: Arial, sans-serif; 
    background-color: beige;
    width: 33%;
    border-radius: 25px;
    margin: auto;
    padding: 2px;
    font-size: 15px;
}

.clear { clear: both;}

#mylist{
    text-align: center;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 30px;
}
